Repository feathr-ai/feathr, pull requests merged in 2023-02, with the labels that each got.

#1026 Skip Anchored and derived features if the feature data is unavailable
  feathr-impl/src/main/scala/com/linkedin/feathr/offline/client/FeathrClient.scala
  feathr-impl/src/main/scala/com/linkedin/feathr/offline/config/sources/FeatureGroupsUpdater.scala
  feathr-impl/src/main/scala/com/linkedin/feathr/offline/derived/strategies/SequentialJoinAsDerivation.scala
  feathr-impl/src/main/scala/com/linkedin/feathr/offline/generation/DataFrameFeatureGenerator.scala
  feathr-impl/src/main/scala/com/linkedin/feathr/offline/generation/StreamingFeatureGenerator.scala
  feathr-impl/src/main/scala/com/linkedin/feathr/offline/job/FeatureGenJob.scala
  feathr-impl/src/main/scala/com/linkedin/feathr/offline/job/FeatureJoinJob.scala
  feathr-impl/src/main/scala/com/linkedin/feathr/offline/job/LocalFeatureJoinJob.scala
  feathr-impl/src/main/scala/com/linkedin/feathr/offline/join/DataFrameFeatureJoiner.scala
  feathr-impl/src/main/scala/com/linkedin/feathr/offline/source/accessor/NonTimeBasedDataSourceAccessor.scala
  feathr-impl/src/main/scala/com/linkedin/feathr/offline/transformation/AnchorToDataSourceMapper.scala
  feathr-impl/src/main/scala/com/linkedin/feathr/offline/util/AclCheckUtils.scala
  feathr-impl/src/test/scala/com/linkedin/feathr/offline/FeatureGenIntegTest.scala
  feathr-impl/src/test/scala/com/linkedin/feathr/offline/SlidingWindowAggIntegTest.scala
  feathr-impl/src/test/scala/com/linkedin/feathr/offline/config/sources/TestFeatureGroupsUpdater.scala
Labels: safe to test

#1023 Auto Delete Empty Anchors and Sources in SQL Registry
  registry/sql-registry/main.py
  registry/sql-registry/registry/db_registry.py
Labels: safe to test, registry test

#1008 Fix sandbox issues and improve experience
  FeathrSandbox.Dockerfile
  docs/README.md
  docs/images/feathr-sandbox-edit-file.png
  docs/quickstart_local_sandbox.md
  docs/samples/local_quickstart_notebook.ipynb
  feathr-sandbox/feathr_init_script.py
  feathr_project/feathr/spark_provider/_localspark_submission.py
  registry/sql-registry/registry/db_registry.py
Labels: registry test

#1046 Extend local spark retry timeout
  feathr_project/feathr/spark_provider/_localspark_submission.py
  feathr_project/test/test_user_workspace/feathr_config_local.yaml
Labels: safe to test

#1044 Fix upload config file issue
  feathr_project/test/test_fixture.py
  feathr_project/test/test_time_partition_pattern_e2e.py
Labels: safe to test

#1050 Fix nyc_taxi data utils bug in databricks path
  docs/samples/nyc_taxi_demo.ipynb
  feathr_project/feathr/datasets/nyc_taxi.py
  feathr_project/test/unit/datasets/test_datasets.py
Labels: safe to test

#1045 Add test cases for sources and sinks
  feathr_project/test/test_azure_kafka_e2e.py
  feathr_project/test/test_feature_materialization.py
  feathr_project/test/test_spark_sql_source.py
Labels: safe to test

#1024 Feature names conflicts check and auto-correction
  docs/concepts/get-offline-features.md
  docs/images/conflicts-check-and-handle.png
  feathr-impl/src/main/scala/com/linkedin/feathr/offline/client/FeathrClient.scala
  feathr-impl/src/main/scala/com/linkedin/feathr/offline/config/FeatureJoinConfig.scala
  feathr-impl/src/main/scala/com/linkedin/feathr/offline/config/FeatureJoinConfigDeserializer.scala
  feathr-impl/src/main/scala/com/linkedin/feathr/offline/config/join/converters/PegasusRecordSettingsConverter.scala
  feathr-impl/src/test/resources/simple-obs2.csv
  feathr-impl/src/test/scala/com/linkedin/feathr/offline/job/TestFeatureJoinJob.scala
  feathr_project/feathr/client.py
  feathr_project/feathr/definition/settings.py
  feathr_project/feathr/spark_provider/_databricks_submission.py
  feathr_project/feathr/spark_provider/_synapse_submission.py
  feathr_project/feathr/utils/job_utils.py
  feathr_project/test/test_feature_materialization.py
  feathr_project/test/test_feature_name_validation.py
  feathr_project/test/test_fixture.py
  feathr_project/test/test_time_partition_pattern_e2e.py
Labels: safe to test

#1064 Block merging PRs with test cases failures
  .github/workflows/pull_request_push_test.yml
  feathr_project/feathr/definition/source.py
Labels: safe to test, registry test

#1069 Debug and sanity mode
  feathr-impl/src/main/scala/com/linkedin/feathr/offline/client/FeathrClient.scala
  feathr-impl/src/main/scala/com/linkedin/feathr/offline/generation/DataFrameFeatureGenerator.scala
  feathr-impl/src/main/scala/com/linkedin/feathr/offline/generation/SparkIOUtils.scala
  feathr-impl/src/main/scala/com/linkedin/feathr/offline/job/LocalFeatureJoinJob.scala
  feathr-impl/src/main/scala/com/linkedin/feathr/offline/join/DataFrameFeatureJoiner.scala
  feathr-impl/src/main/scala/com/linkedin/feathr/offline/join/workflow/AnchoredFeatureJoinStep.scala
  feathr-impl/src/main/scala/com/linkedin/feathr/offline/join/workflow/DerivedFeatureJoinStep.scala
  feathr-impl/src/main/scala/com/linkedin/feathr/offline/source/accessor/DataSourceAccessor.scala
  feathr-impl/src/main/scala/com/linkedin/feathr/offline/source/accessor/NonTimeBasedDataSourceAccessor.scala
  feathr-impl/src/main/scala/com/linkedin/feathr/offline/source/accessor/PathPartitionedTimeSeriesSourceAccessor.scala
  feathr-impl/src/main/scala/com/linkedin/feathr/offline/source/dataloader/AvroJsonDataLoader.scala
  feathr-impl/src/main/scala/com/linkedin/feathr/offline/source/dataloader/BatchDataLoader.scala
  feathr-impl/src/main/scala/com/linkedin/feathr/offline/source/dataloader/CsvDataLoader.scala
  feathr-impl/src/main/scala/com/linkedin/feathr/offline/source/dataloader/JDBCDataLoader.scala
  feathr-impl/src/main/scala/com/linkedin/feathr/offline/source/dataloader/JsonWithSchemaDataLoader.scala
  feathr-impl/src/main/scala/com/linkedin/feathr/offline/swa/SlidingWindowAggregationJoiner.scala
  feathr-impl/src/main/scala/com/linkedin/feathr/offline/transformation/AnchorToDataSourceMapper.scala
  feathr-impl/src/main/scala/com/linkedin/feathr/offline/transformation/DataFrameExt.scala
  feathr-impl/src/main/scala/com/linkedin/feathr/offline/util/FeathrUtils.scala
  feathr-impl/src/main/scala/com/linkedin/feathr/offline/util/SourceUtils.scala
  feathr-impl/src/main/scala/com/linkedin/feathr/swj/SlidingWindowJoin.scala
  feathr-impl/src/test/scala/com/linkedin/feathr/offline/AnchoredFeaturesIntegTest.scala
  feathr-impl/src/test/scala/com/linkedin/feathr/offline/FeatureGenIntegTest.scala
  feathr-impl/src/test/scala/com/linkedin/feathr/offline/SlidingWindowAggIntegTest.scala
  feathr-impl/src/test/scala/com/linkedin/feathr/offline/join/algorithms/TestSparkSaltedJoin.scala
  feathr-impl/src/test/scala/com/linkedin/feathr/offline/join/workflow/TestAnchoredFeatureJoinStep.scala
  feathr-impl/src/test/scala/com/linkedin/feathr/offline/join/workflow/TestDerivedFeatureJoinStep.scala
  feathr-impl/src/test/scala/com/linkedin/feathr/offline/source/accessor/TestPathPartitionedTimeSeriesSourceAccessor.scala
  feathr-impl/src/test/scala/com/linkedin/feathr/offline/source/dataloader/TestBatchDataLoader.scala
  feathr-impl/src/test/scala/com/linkedin/feathr/offline/transformation/TestDataFrameExt.scala
  gradle.properties
Labels: safe to test

#1070 Fix data source issue
  feathr-impl/src/main/scala/com/linkedin/feathr/offline/transformation/AnchorToDataSourceMapper.scala
Labels: safe to test

#1088 Improve local sandbox setup and fix registry 404 regression
  FeathrSandbox.Dockerfile
  deploy/nginx.conf
  docs/README.md
  docs/quickstart_local_sandbox.md
  feathr-sandbox/start_local.sh
Labels: safe to test

#1085 Adjust test status
  .github/workflows/pull_request_push_test.yml
Labels: safe to test

#1086 Add utility to convert avro tensor to tensor format
  feathr-impl/src/main/scala/com/linkedin/feathr/offline/anchored/anchorExtractor/SQLConfigurableAnchorExtractor.scala
  feathr-impl/src/main/scala/com/linkedin/feathr/offline/mvel/MvelContext.java
  feathr-impl/src/main/scala/com/linkedin/feathr/offline/util/FeaturizedDatasetUtils.scala
Labels: safe to test

#1087 Version bump
  gradle.properties
Labels: safe to test

#1091 Fail test jobs with low coverage
  .github/workflows/pull_request_push_test.yml
Labels: safe to test

#1094 Bump version to 1.0.0-rc4
  .github/workflows/publish-to-dockerhub.yml
  docs/dev_guide/feathr_overall_release_guide.md
  docs/quickstart_local_sandbox.md
  docs/samples/local_quickstart_notebook.ipynb
  docs/samples/product_recommendation_demo_advanced.ipynb
  feathr_project/docs/conf.py
  feathr_project/feathr/version.py
  feathr_project/setup.py
  feathr_project/test/test_user_workspace/feathr_config.yaml
  gradle.properties
  ui/package-lock.json
  ui/package.json
Labels: safe to test

#1096 Shorten GitHub Actions and Workflows names and fix broken links in docs
  .github/workflows/document-scan.yml
  .github/workflows/pull_request_push_test.yml
  docs/dev_guide/build-and-push-feathr-registry-docker-image.md
  docs/dev_guide/feathr_overall_release_guide.md
Labels: safe to test

#1100 Clean up keys in redis cache created by tests to improve performance
  feathr_project/test/test_azure_snowflake_e2e.py
  feathr_project/test/test_azure_spark_e2e.py
  feathr_project/test/test_feature_materialization.py
  feathr_project/test/test_pyduf_preprocessing_e2e.py
Labels: safe to test

#1104 Bump version to 1.0.0
  docs/README.md
  docs/quickstart_local_sandbox.md
  feathr_project/docs/conf.py
  feathr_project/feathr/version.py
  feathr_project/setup.py
  feathr_project/test/test_user_workspace/feathr_config.yaml
  gradle.properties
  ui/package-lock.json
  ui/package.json
Labels: safe to test
